/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.formWarp {
  padding-top: 1.6875rem;
  width: 80%;
  margin: 0 auto;
}
.formWarp .loginLogo {
  width: 9.59375rem;
  height: 3.375rem;
  margin: 0 auto;
}
.formWarp .loginLogo img {
  width: 100%;
  height: 100%;
}
.formWarp .inpWarp {
  width: 100%;
  margin: 1.5625rem auto 0;
}
.formWarp .inpWarp .usernameBox,
.formWarp .inpWarp .passwordBox,
.formWarp .inpWarp .imgVertifyCode,
.formWarp .inpWarp .verification-code {
  width: 100%;
}
.formWarp .inpWarp .usernameBox .inpBox,
.formWarp .inpWarp .passwordBox .inpBox,
.formWarp .inpWarp .imgVertifyCode .inpBox,
.formWarp .inpWarp .verification-code .inpBox {
  -webkit-border-radius: 1.5625rem;
  -moz-border-radius: 1.5625rem;
  -ms-border-radius: 1.5625rem;
  -o-border-radius: 1.5625rem;
  border-radius: 1.5625rem;
  overflow: hidden;
  border: 1px solid #ddd;
  position: relative;
  height: 2.46875rem;
}
.formWarp .inpWarp .usernameBox .inpBox input,
.formWarp .inpWarp .passwordBox .inpBox input,
.formWarp .inpWarp .imgVertifyCode .inpBox input,
.formWarp .inpWarp .verification-code .inpBox input {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  padding: 0 1.25rem;
  font-size: 0.875rem;
}
.formWarp .inpWarp .usernameBox .inpBox .chechPassword,
.formWarp .inpWarp .passwordBox .inpBox .chechPassword,
.formWarp .inpWarp .imgVertifyCode .inpBox .chechPassword,
.formWarp .inpWarp .verification-code .inpBox .chechPassword {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 1.25rem;
  right: 0.9375rem;
  margin-top: -0.625rem;
  text-align: center;
  vertical-align: middle;
}
.formWarp .inpWarp .usernameBox .inpBox .chechPassword i,
.formWarp .inpWarp .passwordBox .inpBox .chechPassword i,
.formWarp .inpWarp .imgVertifyCode .inpBox .chechPassword i,
.formWarp .inpWarp .verification-code .inpBox .chechPassword i {
  color: #dddddd;
  font-size: 1.125rem;
}
.formWarp .inpWarp .usernameBox .errorTips,
.formWarp .inpWarp .passwordBox .errorTips,
.formWarp .inpWarp .imgVertifyCode .errorTips,
.formWarp .inpWarp .verification-code .errorTips {
  min-height: 0.78125rem;
  line-height: 0.78125rem;
  font-size: 0.625rem;
}
.formWarp .inpWarp .usernameBox .errorTips .wordHit,
.formWarp .inpWarp .passwordBox .errorTips .wordHit,
.formWarp .inpWarp .imgVertifyCode .errorTips .wordHit,
.formWarp .inpWarp .verification-code .errorTips .wordHit {
  padding: 0.546875rem 0;
}
.formWarp .inpWarp .usernameBox .errorTips .wordHit span,
.formWarp .inpWarp .passwordBox .errorTips .wordHit span,
.formWarp .inpWarp .imgVertifyCode .errorTips .wordHit span,
.formWarp .inpWarp .verification-code .errorTips .wordHit span {
  font-size: 0.75rem;
  color: #ff544c;
  padding-left: 1.40625rem;
}
.formWarp .inpWarp .imgVertifyCode {
  position: relative;
}
.formWarp .inpWarp .imgVertifyCode .imgCode {
  position: absolute;
  top: 1.34375rem;
  right: 1.25rem;
  width: 3.5625rem;
  height: 1.34375rem;
  margin-top: -0.796875rem;
}
.formWarp .inpWarp .verification-code {
  position: relative;
}
.formWarp .inpWarp .verification-code .btn-getcode {
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #38adff;
  position: absolute;
  top: 0.875rem;
  right: 1.25rem;
}
.formWarp .inpWarp .verification-code .btn-getcode span {
  margin-right: 0.625rem;
  color: #ccc;
}
.formWarp .inpWarp .userCount {
  font-size: 0.8125rem;
  color: #333;
  line-height: 2rem;
  text-align: center;
}
.formWarp .inpWarp .successDiv {
  width: 80%;
  margin: 1.5625rem auto;
  text-align: center;
}
.formWarp .inpWarp .successDiv .successImg {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0 auto;
}
.formWarp .inpWarp .successDiv .successImg img {
  width: 100%;
  height: 100%;
}
.formWarp .inpWarp .successDiv .tips {
  font-size: 1.3125rem;
  margin-top: 1.09375rem;
  margin-bottom: 0.46875rem;
  color: #333;
}
.formWarp .inpWarp .successDiv .timeout {
  font-size: 0.75rem;
  color: #999999;
}
.formWarp .inpWarp .successDiv a {
  font-size: 1rem;
  color: #fff;
  background: #38adff;
  height: 2.34375rem;
  line-height: 2.34375rem;
  width: 100%;
  border-radius: 50px;
  margin-top: 1.625rem;
  display: block;
}
.formWarp .logoBtnWarp {
  margin: 0 auto;
  width: 100%;
}
.formWarp .logoBtnWarp button {
  display: block;
  width: 100%;
  height: 2.3125rem;
  line-height: 2.3125rem;
  background: #38adff;
  border-radius: 1.25rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.formWarp .logoBtnWarp a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #666666;
  margin-top: 0.75rem;
}
