/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.mint-msgbox {
  height: 9.25rem;
  background-color: transparent;
  border-radius: 8px;
}
.mint-msgbox .mint-msgbox-content {
  height: 6.0625rem;
  background-color: #fff;
}
.mint-msgbox .mint-msgbox-content .mint-msgbox-message {
  margin-top: 1.5625rem;
  color: #000000;
  font-size: 1.125rem;
}
.mint-msgbox .mint-msgbox-btns {
  height: 3.125rem;
  line-height: 3.125rem;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-btn {
  font-size: 1.125rem;
  margin-bottom: -1px;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel {
  color: #999;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm {
  color: #FFFFFF;
  background: #38adff;
}
.discountContent {
  width: 95%;
  margin: 1.25rem auto 1.875rem;
}
.discountContent h1 {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.discountContent p {
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  color: #333333;
  margin: 0 0 1.5625rem 0;
}
.discountContent p:last-child {
  margin: 0 0 0 0;
}
