  </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
    
	<footer class="footer">
		<span class="text-right">
		开心工作 享受生活
		</span>
		<span class="float-right">
		Powered by <a target="_blank" href="#"><b>爱分类科技</b></a>
		</span>
	</footer>

</div>
<!-- END main -->

<script src="/assets/js/modernizr.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/moment.min.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/plugins/switchery/switchery.min.js"></script>
<script src="/assets/plugins/twbs-datagrid-master/jquery.twbsDatagrid.js"></script>
<script src="/assets/plugins/twbs-datagrid-master/assets/twbs-pagination-1.4.1/jquery.twbsPagination.min.js"></script>
<script src="/assets/plugins/jquery.filer/js/jquery.filer.min.js"></script>

<!-- App js -->
<script src="/assets/js/pikeadmin.js"></script>

<!-- Inject js -->
{{#js}}
<script src="{{js}}"></script>
{{/js}}

<!-- BEGIN Java Script for this page -->

<!-- END Java Script for this page -->

</body>
</html>