{{> header}}
<div class="row">
	<div class="col-xl-12">
		<div class="breadcrumb-holder">
			<h1 class="main-title float-left">机构管理</h1>
			<ol class="breadcrumb float-right">
				<li class="breadcrumb-item">控制台</li>
				<li class="breadcrumb-item active">机构管理</li>
			</ol>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- end row -->
<div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		
		<div class="card mb-3">
			<div class="card-header">
				<span class="pull-right"><a href="/admin/org" class="btn btn-primary btn-sm" >机构列表</a></span>
				{{title}}
			</div>
			<div class="card-body">
				<form autocomplete="off" action="/admin/org" method="post" enctype="multipart/form-data">
					<input type="hidden" class="form-control col-sm-8" id="id" name="id" placeholder="机构id" value="{{data.id}}" autocomplete="off">
						<div class="row">
							<div class="col-sm-9">
								<div class="form-group">
									<label for="">机构名称</label>
									<div class="form-row">
										<input class="form-control col-sm-8" id="orgName" name="orgName" value="{{data.orgName}}" placeholder="机构名称" autocomplete="off">
										<div class="col-sm-4"><i class="fa fa-fw fa-exclamation-circle"></i>必填项 </div>
									</div>
								</div>
								<div class="form-group">
									<label for="orgCode">机构编码</label>
									<div class="form-row">
										<input class="form-control col-sm-8" id="orgCode" name="orgCode" value="{{data.orgCode}}" placeholder="机构编码" autocomplete="off">
										<div class="col-sm-4"><i class="fa fa-fw fa-exclamation-circle"></i>必填项 </div>
									</div>
								</div>
								<div class="form-group">
									<label for="orgContactTel">联系电话</label>
									<div class="form-row">
										<input class="form-control col-sm-8" id="orgContactTel" name="orgContactTel" value="{{data.orgContactTel}}" placeholder="联系电话" autocomplete="off">
										<div class="col-sm-4"><i class="fa fa-fw fa-exclamation-circle"></i>必填项 </div>
									</div>
								</div>
								<div class="form-group">
									<label for="orgContactTel">机构状态</label>
									<div class="form-row">
										<select id="state" name="state"  class="form-control col-sm-8">
											<option value="0">正常</option>
											<option value="1" {{#data.state}}selected{{/data.state}}>禁用</option>
									  </select>
										<div class="col-sm-4"><i class="fa fa-fw fa-exclamation-circle"></i>必填项 </div>
									</div>
								</div>
							</div>
								
							<div class="col-sm-3">
								<div class="form-group">
									<label for="inputPassword4"></label>
									<input type="file" name="orgImg" id="orgImg" style="width: auto;display: none;">
									{{#data.orgImg}}
									<img style="width:160px;height:160px;border-radius: 80px;" id="uploadThumb" src="{{data.orgImg}}">
									{{/data.orgImg}}
									{{^data.orgImg}}
									<img style="width:160px;height:160px;border-radius: 80px;" id="uploadThumb" src="/assets/images/avatars/admin.jpg">
									{{/data.orgImg}}
								</div>
							</div>
						</div>
					<button type="submit" class="btn btn-primary">提交</button>
				</form>
			</div>
		</div>
	</div>
	<!-- end col -->
	
</div>
<!-- end row -->
{{> footer}}