{{> header}}
<div class="row">
	<div class="col-xl-12">
		<div class="breadcrumb-holder">
			<h1 class="main-title float-left">资源管理</h1>
			<ol class="breadcrumb float-right">
				<li class="breadcrumb-item">控制台</li>
				<li class="breadcrumb-item active">机构管理</li>
			</ol>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- end row -->
<div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		
		<div class="card mb-3">
			<div class="card-header">
				{{name}}
			</div>
			<div class="card-body">
				<form autocomplete="off" action="#">
					<div class="form-row">
						<div class="form-group col-md-6 col-lg-3">
							<label for="inputEmail4">资源名称</label>
							<input type="email" class="form-control" name="categoryName" placeholder="资源名称" autocomplete="off">
						</div>
						<div class="form-group col-md-6 col-lg-3">
							<label for="inputPassword4">资源编码</label>
							<input type="password" class="form-control" name="resourceCode" placeholder="资源编码" autocomplete="off">
						</div>
					</div>
					<a id="search" href="javascript:void(0)" class="btn btn-primary">搜索</a>
				</form>
				
			</div>
		</div>
		
		<div class="card">
			<div class="card-header">
				<span class="pull-right"><a href="/admin/resource/add" class="btn btn-primary btn-sm" >添加机构</a></span>
				机构列表  
			</div>
			<div class="card-body">
				
				<div class="table-responsive">
	        <table id="datagrid" class="table table-striped table-bordered bootstrap-datatable datatable responsive"></table>
	        <ul id="dg-pagination" class="pagination pull-right"></ul>
				</div>
				
				
			</div>
			<!-- end card-body -->
			
		</div>
		<!-- end card -->
	</div>
	<!-- end col -->
	
</div>
<!-- end row -->

{{> footer }}