/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.mint-msgbox {
  height: 9.25rem;
  background-color: transparent;
  border-radius: 8px;
}
.mint-msgbox .mint-msgbox-content {
  height: 6.0625rem;
  background-color: #fff;
}
.mint-msgbox .mint-msgbox-content .mint-msgbox-message {
  margin-top: 1.5625rem;
  color: #000000;
  font-size: 1.125rem;
}
.mint-msgbox .mint-msgbox-btns {
  height: 3.125rem;
  line-height: 3.125rem;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-btn {
  font-size: 1.125rem;
  margin-bottom: -1px;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel {
  color: #999;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm {
  color: #FFFFFF;
  background: #38adff;
}
body {
  background-color: #f5f5f5;
}
html {
  background-color: #f5f5f5;
}
.dn {
  display: none;
}
.loadingImg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #ffffff;
}
.loadingImg p {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.loadingImg img {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loadingImg span {
  display: block;
  width: 100%;
  line-height: 15px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.paymentWrap {
  padding-bottom: 3.125rem;
}
.paymentWrap .courseDetails {
  background-color: #ffffff;
  width: 100%;
  padding-left: 0.625rem;
  margin-bottom: 0.625rem;
}
.paymentWrap .courseDetails .coursDetailsTitle {
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  padding: 0.9375rem 0;
  font-size: 0.9375rem;
}
.paymentWrap .courseDetails .timer {
  border-top: 0.0625rem solid #f5f5f5;
  height: 2.5625rem;
  padding-right: 0.625rem;
}
.paymentWrap .courseDetails .timer p {
  text-align: right;
  font-size: 0.75rem;
  line-height: 2.5625rem;
  color: #999;
}
.paymentWrap .courseDetails .courseDetailsBody {
  width: 100%;
  padding: 0.9375rem 0.625rem 0.9375rem 0;
  overflow: hidden;
}
.paymentWrap .courseDetails .courseDetailsBody img {
  float: left;
  width: 8.9375rem;
  border-radius: 0.15625rem;
  height: 5.03125rem;
}
.paymentWrap .courseDetails .courseDetailsBody .courseDetailsRight {
  padding-left: 9.5625rem;
  height: 3.8125rem;
  position: relative;
  left: 0;
  width: 100%;
}
.paymentWrap .courseDetails .courseDetailsBody .courseDetailsRight .courseDetailsRightTop {
  width: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  color: #333333;
  margin-bottom: 0.625rem;
}
.paymentWrap .courseDetails .courseDetailsBody .courseDetailsRight .courseDetailsRightMoney {
  font-size: 1.0625rem;
  line-height: 0.75rem;
  color: #ff544c;
  margin-top: 2rem;
}
.paymentWrap .courseDetails .courseDetailsBody .courseDetailsRight .courseDetailsRightBottom {
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #999999;
}
.paymentWrap .mag160 {
  margin-top: 5rem;
}
.paymentWrap .coupon {
  width: 100%;
  display: block;
  color: #333;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 0.625rem;
  padding: 0.9375rem 0.625rem;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
}
.paymentWrap .coupon span {
  float: right;
}
.paymentWrap .discount {
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.625rem;
  padding: 0.9375rem 0.625rem;
}
.paymentWrap .discount p {
  line-height: 0.9375rem;
  font-size: 0.9375rem;
  color: #333333;
  overflow: hidden;
}
.paymentWrap .discount p span {
  float: right;
  color: #ff544c;
}
.paymentWrap .xieyi {
  width: 100%;
  margin-top: 0.9375rem;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  text-align: right;
}
.paymentWrap .xieyi .wyxy {
  color: #999999;
}
.paymentWrap .xieyi .clickXy {
  color: #333333;
}
.paymentWrap .xieyi .xieyi_img {
  display: inline-block;
  margin-right: 0.15625rem;
}
.paymentWrap .xieyi .xieyi_img img {
  width: 0.78125rem;
}
.paymentWrap .xieyi a {
  color: #333333;
}
.paymentWrap .paymentMethod {
  background-color: #ffffff;
  margin-top: 0.625rem;
  width: 100%;
  padding: 0 0.625rem;
}
.paymentWrap .paymentMethod .paymentMethodTitle {
  padding: 0.9375rem 0;
  border-bottom: 1px solid #f6f6f6;
  font-size: 0.9375rem;
}
.paymentWrap .paymentMethod .paymentMethodList {
  width: 100%;
  overflow: hidden;
  padding: 0.9375rem 0;
}
.paymentWrap .paymentMethod .paymentMethodList .wechartImg {
  float: left;
  width: 24%;
}
.paymentWrap .paymentMethod .paymentMethodList .wechartClick {
  width: 1.09375rem;
  float: right;
  margin-top: 0.390625rem;
}
.paymentWrap .orderAmount {
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.625rem;
  padding: 0.9375rem 0.625rem;
}
.paymentWrap .orderAmount p {
  line-height: 0.9375rem;
  font-size: 0.9375rem;
  color: #333333;
  overflow: hidden;
}
.paymentWrap .orderAmount p span {
  float: right;
  color: #ff544c;
}
.paymentWrap .placeOrder {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3.125rem;
  background-color: #ffffff;
  z-index: 999999;
}
.paymentWrap .placeOrder p {
  text-align: right;
  line-height: 3.125rem;
  font-size: 0.90625rem;
  width: 100%;
}
.paymentWrap .placeOrder p .orderMoney {
  color: #ff544c;
}
.paymentWrap .placeOrder p .placeOrderBtn {
  width: 8.125rem;
  line-height: 3.125rem;
  display: inline-block;
  text-align: center;
  margin-left: 1.25rem;
  color: #ffffff;
}
.paymentWrap .placeOrder p .placeOrderBtn.select {
  background-color: #38adff;
}
.paymentWrap .placeOrder p .placeOrderBtn.removeSelect {
  background-color: #999;
}
