/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
@import "../../../static/css/reset.css";
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.mint-msgbox {
  height: 9.25rem;
  background-color: transparent;
  border-radius: 8px;
}
.mint-msgbox .mint-msgbox-content {
  height: 6.0625rem;
  background-color: #fff;
}
.mint-msgbox .mint-msgbox-content .mint-msgbox-message {
  margin-top: 1.5625rem;
  color: #000000;
  font-size: 1.125rem;
}
.mint-msgbox .mint-msgbox-btns {
  height: 3.125rem;
  line-height: 3.125rem;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-btn {
  font-size: 1.125rem;
  margin-bottom: -1px;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-cancel {
  color: #999;
}
.mint-msgbox .mint-msgbox-btns .mint-msgbox-confirm {
  color: #FFFFFF;
  background: #38adff;
}
.payContent,
.discountContent {
  margin-top: 3.0625rem;
  color: #999;
  padding: 0.9375rem;
  padding-top: 0.3125rem;
  font-size: 0.875rem;
}
.payContent p,
.discountContent p {
  line-height: 2.1rem;
}
.payContent h1,
.discountContent h1 {
  color: #333;
  margin: 2.06rem 0;
  font-size: 0.9375rem;
  font-weight: 700;
}
.payContent .protocalEmail,
.discountContent .protocalEmail {
  word-wrap: break-word;
  word-break: break-all;
  color: #38adff;
}
.discountContent h1 {
  margin: 1.06rem 0;
}
