<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>pop/push/shift/unshift</title>
    <script src="../../vue.js"></script>
</head>
<body>

<div class="echo">
    <ul>
        <li v-for="v in lovers">
            {{v.name}}
        </li>
    </ul>
    <textarea name="echo" id="ech" cols="30" rows="10" v-model="current"></textarea>
    <br/>
    <button v-on:click="submit('bottom')">发表</button>
    <button v-on:click="submit('top')">置顶</button>
    <button v-on:click="del('first')">删除第一条信息</button>
    <button v-on:click="del('last')">删除最后一条信息</button>
</div>
<script>
    var echo = new Vue({
        el:".echo",
        methods:{
            submit:function(allen){
                var current = {name:this.current};
                switch(allen){
                    case 'bottom':
                        this.lovers.push(current);
                        this.current="";
                        break;
                    case 'top':
                        this.lovers.unshift(current);
                        this.current="";
                        break;
                }
            },
            del:function(echo){
//                var current = this.current;
                switch(echo){
                    case 'first':
                        this.lovers.shift();
                        break;
                    case 'last':
                            this.lovers.pop();
                        break
                }
            }
        },
        data:{
            current:"",
            lovers:[
                {name:'echo'},
                {name:'allen'},
                {name:'brain'},
                {name:'emily'}
            ]
        }
    })
</script>
</body>
</html>