<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 鼠标修饰符 </title>
    <script src="../vue.js"></script>
</head>
<body>

<div class="echo">
    <ul>
        <li v-for="v in lovers">
            {{v.name}}
        </li>
    </ul>
    <textarea name="pl" id="PL" cols="30" rows="10" v-model="type"></textarea>
    <br/>
    <button @contextmenu.prevent="haha('heheda')">发表</button>
</div>
<script>
    var echo = new Vue({
        el:'.echo',
        methods:{
          haha(a){
              console.log(a);
                var b = {name:this.type}
              this.lovers.push(b);
              console.log(this.lovers);
          }
        },
        data:{
            return {
                type:'',
                lovers:[
                    {name:'echo'},
                    {name:'allen'},
                    {name:'brain'},
                    {name:'emily'}
                ]
            }

        },
    mounted(){

    }
    })
</script>
</body>
</html>