<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
   .green{
   	color: green;
   }
   .red{
   	color:red;
   }
   .size{
   	font-size: 100px;
   }
   .hehe{
   	font-size: 50px;
   }
	</style>
</head>
<body>
<div class="app">
	<div class="hehe" v-bind:class='{green:true,red:false,size:true}'>呵呵达</div>
   <div v-bind:class='[color,fontsize]'>么么哒</div>
   <div v-bind:class='huan'>美美哒</div>
   <div class="size" v-bind:class="'huan'">萌萌哒</div>

<div class="red" v-if='H'>haha</div>
<input type="text" value="huanhuan">
<div class="green" v-else='H'>haha</div>
<div></div>



</div>
	<script src='../vue.min.js'></script>
	<script>
 var app=new Vue({
 	el:'.app',
 	data:{
        color:'red',
        fontsize:'size',
        huan:{
 		green:true,
 		size:true
 		},
        H:false,
        },
 })
	</script>
</body>
</html> -->





<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
 .red{
 	color:red;
 }
 .green{
 	color:green;
 }
 .size{
 	font-size: 50px;
 }
 .rulers{
 	font-size: 75px;
 }
	</style>
</head>
<body>
<div class="box">
 <div v-bind:class='{green:true,size:true}'>贝贝</div>
 对象的形式传入在data中可以什么都不写
 <div class="rulers" v-bind:class='[red,size]'>京京</div>
 变红变大的京京
 <div class="rulers" v-bind:class='huan'>欢欢</div>
 变红变大的欢欢
 v-bind的类名和html类名是平级的
 <div  class="size" v-if='X'>迎迎</div>
 <input type="text">
 v-if和v-else之间不能有其他任何标签
 <div class="green" v-else='X'>妮妮</div>
</div>
	<script src='../vue.min.js'></script>
	<script>
  var app = new Vue({
  	el:'.box',
  	data:{
       red:'red',
       size:'size',
  	// 数组的方式传入要定义
  	// 一定要写到data中 并且前面记的加逗号
  	huan:{
  		red:true,
  		size:false,
  		// 变量huanhuan显示红色不变大的欢欢
  	},
  	X:false,
  	// true的时候变大不变色的迎迎 false的时候显示绿色不变大的妮妮
  },
  })
	</script>
</body>
</html> -->




<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册协议</title>
</head>
<body>
<div class="echo">
	<input type="checkbox" v-model='isTrue'>点击接受协议
	<br>
	<span v-if='isTrue==false'>请先接受协议</span>
	<span v-if='!isTrue'>请先接受协议</span>
	<br>
	<button v-if='isTrue==true'>注册</button>
	</div>
	<script src='../vue.min.js'></script>
	<script>
    var echo=new Vue({
    	el:'.echo',
    	data:{
        isTrue:false,
    	}
    })
	</script>
</body>
</html> -->



<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-if v-else v-else-if</title>
	<style>
.green{
     color: green;
	}
	.red{
		color: red;
	}
	</style>

</head>
<body>
<div class="echo">
	<input type="text" v-model='age'>

	<span v-if='age<18'>小臂崽子</span>
	<span v-if='age<30'>有为青年</span>
	<span v-if='age<50'>猥琐大叔</span>
	<span v-if='age>=50'>好色仙人</span>                          

   <span v-if='age<18'>小臂崽子</span>
	<span v-if='age<30&&age>=18'>有为青年</span>
	<span v-if='age<50&&age>=30'>猥琐大叔</span>
	<span v-if='age>=50'>好色仙人</span>


	 <span v-if='age<18'>小臂崽子</span>
	<span v-else-if='age<30'>有为青年</span>
	<span v-else-if='age<50'>猥琐大叔</span>
	<span v-else='age>=50'>好色仙人</span>
	<span v-bind:class='red'>么么哒</span>
	<span :class='green'>么么哒</span>

	</div>
	<script src='../vue.min.js'></script>
	<script>
 var echo=new Vue({
 	el:'.echo',
 	data:{
       age:0,
       red:'red',
       green:'green',
 	}
 })
	</script>
</body>
</html>




<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>点击删除</title>
	<style>
 *{
 	list-style:none;
 }
 .success{
 	display: inline-block;
 }
 .error{
 	display: none;
 }
	</style>
</head>
<body>
<div class="momoda">
  <ul>
  	<li v-for='v in lovers'>
   <span v-bind:class="v.status?success:error">{{v.name}}</span>
    v有语义化 可以起任何名字
   <button  v-if='v.status' v-on:click='changeStatus(v,false)'>删除</button>
    v.status相当于v.status==true 
   <button v-if='!v.status' v-on:click='changeStatus(v,true)'>恢复</button>
  	</li>
  </ul>
</div>
	<script src='../vue.min.js'></script>
	<script>
 var echo = new Vue({
 	el:'.momoda',
 	data:{
 		success:'success',
 		error:'error',
      lovers:[{
      	name:'mhy',
      	status:true
      },
           {
        name:'xiaoyu',
        status:true
    },
    ]
 	},
 	methods:{
 		changeStatus:function(item,status){
 			                // v   false/true
         console.log(status);
         item.status=status;
 		}
 	}
 })
	</script>
</body>
</html>




<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>demo1</title>
    <script src="../vue.js"></script>
    <style>
        .success{
            display: inline-block;
        }
        .error{
            display: none;
        }
    </style>
</head>
<body>

<div class="haha">
<ul>
    <li v-for="v in news">
        <span :class="v.status?'success':'error'">{{v.title}}</span>
        <button v-on:click="changeStatus(v,false)" v-if="v.status">删除</button>
        <button v-on:click="changeStatus(v,true)" v-if="!v.status">恢复</button>
    </li>
</ul>
</div>

<script>
    var app = new Vue({
        el:".haha",
        data:{
            news:[
                {title:'echo',status:true},
                {title:'Allen',status:true}
            ]
        },
        methods:{
            changeStatus:function(item,status){
                item.status=status;
            }
        }
    })
</script>

</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
 *{
 	list-style: none;
 }
 .success{
 	display: inline-block;
 }
 .error{
 	display: block;
 }
	</style>
	<div class="box">
	<ul>
		<li v-for='v in lovers'>
		<span v-bind:class='v.status?success:error'>{{result}}</span>
        <button v-if='v.status' v-on:click='changestatus(v,false)'>删除</button>
        <button v-if='!v.status' v-on:click='changestatus(v,tyue)'>恢复</button>
		</li>
	</ul>
	</div>
</head>
<body>
	<script src='../vue.min.js'></script>
	<script>
var app = new Vue({
	el:'.box',
	data:{
      success:'success',
      error:'error',
      lovers:[{
      	  name:'mhy',
      	  status:true,
      },{
      	  name:'xiaoyu',
      	  status:true, 
      },]
	},
	methods:{
		 changeStatus:function(item,status){
		 console.log(status);
		 item.status=status;
		}
	}
})
	</script>
</body>
</html>