<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
      .red{
      	background-color: red;
      }
      .green{
      	background-color: green;
      }
	</style>
</head>
<body>
	<div class="box">
	<span v-text='text'></span>
	<br>
	<hr>
	<input type="text" v-model='text'>

	{{text}}
       <div v-text='hehe'></div>
       <div v-if='aa'>美美哒</div>
       <div v-show='bb'>萌萌哒</div>
       <div v-bind:class="isred?'red':'green'">欢欢终将会走向成功</div>
	</div>
	<script src='../vue.min.js'></script>
	<script>
      var app= new Vue({
      	el:'.box',
      	data:{
            hehe:'呵呵哒', 
            aa:true,
            bb:true,
            text:'',
            isred:false,
      	},
      	
      })
	</script>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>computed</title>
</head>
<body>
<div class="box">
  <input type="text" v-model='n1'>+
  <input type="text" v-model='n2'>=
  <input type="text" v-model='sum'>
</div>
	<script src='../vue.min.js'></script>
	<script>
  var app = new Vue({
  	el:'box',
    n1:'1',
    n2:'2',

  })
  computed:{
  	sum:function(){
  		return this.n1*1+this.n2*1
  	}
  }
	</script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<div class="box">
 <input type="text" v-model='word'>
 {{result}}
</div>
	<script src='../vue.min.js'></script>
	<script src='axios/dist/axios.js'></script>
	<script src='lodash/lodash.js'></script>
	<script>
    var mhy = new Vue({
    	el:'box',
    	data:{
    		word:'',
    		result:''
    	},
    	watch:{
    		word:_.debounce(
    		function(newV,oldV){
     console.log(oldV+'==>'+newV);
     axios.get('echo.php?word='+newV).then(function(response){
     	console.log(response);
     	mhy.result=response.data
     })
    		},500)    		
    	}
    })
	</script>
</body>
</html>