/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
.content {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
.content .main {
  height: 100%;
  margin-top: 0.78125rem;
  padding: 0 0.9375rem;
}
.content .main .tabPage {
  margin-top: 0.625rem;
}
.discountsClass {
  margin-bottom: 0 !important;
}
