body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:447px;
}
#u7777 {
  position:absolute;
  left:52px;
  top:35px;
  width:702px;
  height:447px;
  font-size:14px;
}
#u7778 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
