<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统更新中，请稍后登录···</title>
    <style type="text/css">
    	*{margin: 0;padding: 0;}
    	html,body,.bgCon{height: 100%;}
    	.bgCon{background: url(static/src/img/bg.jpg) no-repeat; background-size: cover;position: relative;}
    	.smallCon{width:340px;height:210px;background: url(static/src/img/update.png) no-repeat; background-size: cover;position: absolute;left: 50%;top: 50%;margin-left: -170px;margin-top:-105px;}
    </style>
</head>
<body>
	<div class="bgCon">
		<div class="smallCon"></div>
	</div>
</body>
</html>