<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>键盘修饰符</title>
    <script src="../vue.js"></script>
</head>
<body>
<div class="echo">
    <ul>
        <li v-for="v in lovers">{{v.name}}</li>
    </ul>
    <textarea name="echo" id="PL" cols="30" rows="10" v-model="type" @keyup.ctrl="haha('haha')"></textarea>
</div>
<script>
    var echo = new Vue({
        el:'.echo',
        methods:{
          haha:function(a){
            console.log(a)
            var b = {name:this.type}
            this.lovers.push(b)
        }
        },
        data:{
            type:'',
            lovers:[
                {name:'echo'},
                {name:'allen'},
                {name:'brain'},
                {name:'emily'},
            ]
        }
    })
</script>
</body>
</html>