/*
* 自定义css变量
*/
/*单位*/
/**单位常量使用方法 unit(100/@u,@uu)  nuit: less删除或更换单位行数 nuit(数值,单位)**/
/*css3*/
image[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}
body {
  background: #f5f5f5!important;
}
.discountPoupon {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  overflow: inherit;
}
.discountPoupon .tabPage {
  margin-top: 0.625rem;
  overflow: hidden;
}
.discountPoupon .tabPage .el-tabs {
  height: 100%;
}
.discountPoupon .tabPage .el-tabs .el-tabs__header {
  margin: 0.625rem 0;
}
.discountPoupon .tabPage .el-tabs .el-tabs__header .el-tabs__nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
}
.discountPoupon .tabPage .el-tabs .el-tabs__header .el-tabs__nav .el-tabs__item {
  color: #333;
}
.discountPoupon .tabPage .el-tabs .el-tabs__header .el-tabs__nav .el-tabs__active-bar {
  display: none;
}
.discountPoupon .tabPage .el-tabs .el-tabs__header .el-tabs__nav .is-active {
  border-bottom: 0.1875rem solid #38adff;
}
.discountPoupon .tabPage .el-tabs .el-tabs__content {
  background: #ffffff;
  height: 100%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane {
  background: #ffffff;
  height: 100%;
  overflow: auto;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .conversion {
  position: relative;
  height: 2.75rem;
  line-height: 2.75rem;
  margin-left: 0.9375rem;
  padding-right: 0.9375rem;
  border-bottom: 0.0625rem solid #f5f5f5;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .conversion label {
  font-size: 1rem;
  color: #333;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .conversion input {
  width: 60%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .conversion span {
  margin-top: 0.65625rem;
  float: right;
  display: inline-block;
  width: 3rem;
  text-align: center;
  background: #38adff;
  color: #ffffff;
  height: 1.375rem;
  line-height: 1.375rem;
  border-radius: 1.25rem;
  font-size: 0.9375rem;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main {
  padding: 0.3125rem 0.9375rem 0 0.9375rem;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon {
  width: 100%;
  font-size: 0;
  margin: 0.9375rem 0 0.9375rem 0;
  padding: 2.71% 1.27% 3.87% 1.27%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .money {
  display: inline-block;
  padding: 2.03125rem 0 1.9375rem 0;
  margin-left: -0.25rem;
  width: 33%;
  text-align: center;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .money .discountsMoney {
  word-wrap: break-word;
  width: 100%;
  font-size: 1.9375rem;
  line-height: 1.9375rem;
  color: #ffffff;
  padding-bottom: 0.6875rem;
  letter-spacing: -2px;
  font-weight: 500;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .money .failureTime {
  font-size: 0.875rem;
  color: #ffffff;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject {
  display: inline-block;
  width: 53%;
  padding: 0 3% 0 5.36%;
  vertical-align: top;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject .ticketName {
  padding-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #333;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject .scope {
  padding-top: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #666;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject .scope span {
  display: inline-block;
  vertical-align: top;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject .classNumber {
  font-size: 0.8125rem;
  line-height: 0.9375rem;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .subject .timer {
  padding-top: 0.625rem;
  font-size: 0.75rem;
  color: #999;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .use {
  display: inline-block;
  width: 14%;
  text-align: -webkit-center;
  margin-top: -3.125rem;
  vertical-align: middle;
  margin-left: 0.25rem;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .use a,
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .use p {
  display: inline-block;
  writing-mode: lr-tb;
  -ms-writing-mode: lr-tb;
  -webkit-writing-mode: lr-tb;
  font-size: 0.8125rem;
  width: 1rem;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .use a {
  color: #38adff;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .discountPoupon .use p {
  color: #999;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .inCommission {
  background: url(/web/images/discountPoupon/1@2x.png) no-repeat;
  background-size: 100% 100%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .inCommission .classNumber {
  color: #38adff;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .haveBeenUsed {
  background: url(/web/images/discountPoupon/2@2x.png) no-repeat;
  background-size: 100% 100%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .haveBeenUsed .classNumber {
  color: #666;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .haveExpired {
  background: url(/web/images/discountPoupon/2@2x.png) no-repeat;
  background-size: 100% 100%;
}
.discountPoupon .tabPage .el-tabs .el-tab-pane .main .haveExpired .classNumber {
  color: #666;
}
