<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div class="box">
  <huanhuan></huanhuan>	
  <huanhuan></huanhuan>	
  <nvwang></nvwang>	
  <nvwang></nvwang>	
</div>
<script type='text/x-template' id='guo'>
  <div>
     <ul>
        <li v-for="v in lovers">{{v.content}}
        </li>
      </ul>
      <textarea name="" id="" cols="30" rows="10" v-on:keyup.enter="emily" v-model='type'></textarea>
   </div>
</script>
	<script src='vue.js'></script>
	<script>
	Vue.component('huanhuan',{
    template:'#guo',
       data:function(){
       	return{
       		type:'',
       		lovers:[
       			{content:'aa'},
       			{content:'bb'},
       			{content:'cc'},
       			{content:'dd'}
       		]
       	}
       },
       methods:{
       	emily:function(){
       		this.lovers.push({content:this.type})
       	}
       }
	});
 var app = new Vue({
 	el:'.box',
 	data:{
     
 	},
 	components:{
 		nvwang:{
 			template:'<div><input typr="text" v-model="huan"><span>{{huan}}</span></div>',
 			data(){
 				return {
 					huan:''
 				}
 			}
 		}
 	}
 })
	</script>
</body>
</html>
 -->

 <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<script src='vue.js'></script>
	<div class="box">
      <huanhuan :list="lovers"></huanhuan>
    </div>
	<script type=text/x-template id="h">
     <div>
       	<ul>
       		<li v-for='v in list'>{{v.name}}
       		</li>
       	</ul>
       </div>
	</script>
	<script>
Vue.component('huanhuan',{
	template:'#h',
	props:{
		list:{
			type:Array,
			default(){
				return [
            {name:'jason'},
            {name:'elbert'}
				]
			}
      
		}
	}
})
	var app = new Vue({
		el:'.box',
		data:{
			lovers:[
           {name:'aa'},
           {name:'bb'},
           {name:'cc'}
			]
		}
	})
	</script>
</body>
</html>










<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
</head>
<body>
<div class="echo">
<allen xy="news" :show="true" :list="lovers"></allen>
</div>
<script type="text/x-template" id="h">
    <div>
        <span >{{xy}}</span>
        <div v-if="show">heheda</div>
        <ul>
            <li v-for="v in list">
                {{v.name}}
            </li>
        </ul>
    </div>
</script>
<script>
    Vue.component('allen',{
        template:'#h',
        props:['xy','show','list'],
    })
    var echo = new Vue({
        el:".echo",
        data:{
            lovers:[
                {name:'echo'},
                {name:'allen'},
                {name:'json'},
            ]
        }
    })
</script>
</body>
</html> -->




<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../vue.js"></script>
</head>
<body>
<div class="echo">
    <ul>
        <li v-for="v in lovers">
            {{v.name}}
            <<br/>
            <span>{{h}}</span>
        </li>
    </ul>
        <allen :show="true"></allen>
</div>

<script type="text/x-template" id="h">
    <div>
        <div v-if="show">hahaha</div>
    </div>
</script>

<script>
    Vue.component('allen',{
        template:'#h',
        props:['show']
    })

    var echo = new Vue({
        el:'.echo',
        data:{
            lovers:[
                {name:'echo'},
                {name:'allen'},
                {name:'emily'},
                {name:'brain'}
            ]
        }
    })
</script>

</body>
</html> -->





<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../vue.js"></script>
</head>
<body>

<div class="echo">
    <allen :list="lovers"></allen>
</div>
<script type="text/x-template" id="h">
    <div>
        <ul>
            <li v-for="v in list">{{v.name}}</li>
        </ul>
    </div>
</script>
<script>
    //创建全局组件
    Vue.component('allen',{
        template:'#h',
        props:['list']
    })
    var echo = new Vue({
        el:'.echo',
        data:{
            lovers:[
                {name:'echo'},
                {name:'allen'},
                {name:'emily'}
            ]
        }
    })
</script>
</body>
</html> -->






<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../../vue.js"></script>
</head>
<body>

<div class="echo">
    <allen xxx="heheda" :hidden="false"></allen>
</div>

<script type="text/x-template" id="h">
<div>
    <div v-if="show">hahaha</div>
    <div>{{xxx}}</div>
    <div v-if="hidden">lkajsdk</div>
</div>
</script>

<script>
    Vue.component('allen',{
        template:'#h',
        props:['xxx','hidden'],
        data:function(){
            return {
               show:false,
            }
        }
    })
    var echo = new Vue({
        el:'.echo',
    })
</script>

</body>
</html> -->




<!-- <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>自定义属性值类型的判断</title>
    <script src="vue.js"></script>
</head>
<body>

<div class="echo">
    <allen :haha="true"></allen>
</div>

<script type="text/x-template" id="h">
    <div>
        <div v-if="haha">
            hahaha
        </div>
    </div>

</script>
<script>
    Vue.component('allen',{
        template:'#h',
        props:{
            haha:{
                type:Boolean,
                default:false
            }
        }
    })
    var echo = new Vue({
        el:'.echo',
    })
</script>
</body>
</html> -->