<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for和computed的综合应用</title>
</head>
<body>
<div class="box">
  <ul>
	 <li v-for='v in status'>
	 {{v.name}}
    <br/>
    {{v.sex}}
	 </li>
  </ul>
{{type}} 
  <input type="radio" name="person" value="all" v-model='type'>所有人
  <input type="radio" name="person" value="boy" v-model='type'>男生
  <input type="radio" name="person" value="girl" v-model='type'>女生
	
</div>
<script src='vue.js'></script>
	<script>
   var app = new Vue({
   	el:'.box',
   	computed:{
   		status:function(){
   			if(this.type=='all'){
   				console.log(this.type);
   				return this.lovers;
   			}
   			else{
   				console.log(this.type);
   				var type=this.type;
   				return this.lovers.filter(function(v){
   					return v.sex ==type;
   				})
   			}
   		}
   	},
   	data:{
   		type:'',
   	  lovers:[
	          {name:'echo',age:19,sex:'girl'},	         
	          {name:'echo',age:19,sex:'boy'},
   	]
   	}
   })
	</script>	
</body>
</html>
 -->


<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>变异方法</title>
</head>
<body>
<div class="echo">
	<ul>
		<li v-for='v in pinglun'>
		{{v.content}}
		</li>
	</ul>
	<textarea v-model='content' name="pinglun" id="pl" cols="30" rows="10"></textarea>
	<br>
	<button v-on:click='submit()'>发表</button>
</div>
	<script src='vue.js'></script>
	<script>
    var echo = new Vue({
    	el:'.echo',
    	
    		methods:{
    			submit:function(){
    				if(this.content==''){
    					return false;
    				};
    				this.pinglun.push({content:this.content});
    			    this.content='';
    			}     			
    		},
    		data:{
    			content:'',
    		pinglun:[
            {content:'huanhuannvwang'},
            {content:'huanhuannvwang'},
    		]
    	}
    })
	</script>
</body>
</html> -->







<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pop push shift unshift</title>
</head>
<body>
<div class="box">
   <ul>
   	<li v-for='v in lovers'>{{v.name}}</li>
   </ul>
   <textarea name="echo" id="ech" cols="30" rows="10" v-model='current'></textarea>
   <br>
   <button v-on:click='submit("bottom")'>发表</button>
   <button v-on:click='submit("top")'>置顶</button>
   <button v-on:click='del("first")'>删除第一条信息</button>
   <button v-on:click='del("last")'>删除最后一条信息</button>
</div>
	<script src='vue.js'></script>
	<script>
  var app =new Vue({
        el:'.box',
        methods:{
        	submit:function(allen){
        		var current={name:this.current};
        		switch(allen){
        			case 'bottom':
        			this.lovers.push(current);
        			this.current='';
        			break;
                  case'top':
                  this.lovers.unshift(current);
                  this.current='';
                  break;
        		}
        	},
        	del:function(echo){
        		// var current=this.current;
        		switch(echo){
        			case'first':
        			this.lovers.shift();
        			break;
        			case'last':
        			this.lovers.pop();
        		}
        	}
        },
        data:{
        	current:'',
        	lovers:[
              {name:'echo'},       
        	]
        }
  })
	</script>
</body>
</html>





































































































<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
一个函数中 return 后面写的是什么 这个函数就是什么 也就是说这个函数调用的时候就是什么 
	<script>
   var a=function(){
   	return lovers
   }
   console.log(a())

	</script>
</body>
</html> -->